.owl-bzgrw-hide{
    visibility: hidden;
}
.ekwa-owl-prev,
.ekwa-owl-next{
    cursor: pointer;
}
.owl-nav{
    display: none;
}
.ekwa-carousel-wrapper{
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}
.ekwa-owl-prev, .ekwa-owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.ekwa-owl-prev{
    left: 0;
}
.ekwa-owl-next{
    right: 0;
}
.ekwa-owl-prev.disabled,
.ekwa-owl-next.disabled{
    opacity: 0.3;
    cursor: default;
}